<!DOCTYPE html>
<html>
<head>
    <link href="/../css/style.css" rel="stylesheet">
    {{!-- <script type="text/javascript" src="/js/all.js"></script> --}}
</head>
<title>{{title}}</title>
    <body>
        <h1>User Admin</h1>
        <p>List User</p>
        <div>
            {{{body}}}
        </div>
        <p>&copy; 2017</p>
    </body>
</html>