<!DOCTYPE html>
<html>
<head>
</head>
<title>{{title}</title>
    <body>
        {{#block "header"}}
            <h1>Header</h1>
        {{/block}}
 
        {{#block "main"}}
            <p>Main Content.</p>
        {{/block}}
 
        {{#block "footer"}}
            <p>&copy; 1999</p>
        {{/block}}
    </body>
</html>